body {
    font-family: Arial, "Rustic Printed", sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

button {
    background-color: #38b6ff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #9ed3f2;
}

input, textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

.form-group {
    margin-bottom: 15px;
}
